@media screen and (max-width: 576px) {
  #hamburger {
    display: block;
    color: white;
  }

  .nav-links {
    display: none;
  }

  .banner-section {
    display: flex;
    flex-direction: column;
  }
  .healthy-pic > img {
    height: 400px;
  }
  .number-card-2 {
    margin-left: -100px;
  }
  /* change habit */
  .habit-types{
    display: flex;
    flex-direction: column;
  }
  .run{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .run-pic>img{
    height: 300px;
    width: 300px;
  }
  .meet-team-pics{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
